HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.env
.gradle
/tools/docker/message-broker/rabbitmq_data/**
/tools/docker/message-broker/rabbitmq_definitions.json
gradle
/tools/docker/database/pgdata
/tools/docker/pgdata
/tools/docker/rabbitmq_data
/tools/docker/rabbitmq_definitions.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
